._the_token{
    border: 1px solid #ccc;
    padding: 20px;
    overflow: auto;
    min-height: 200px;
    background: #f8f8f9;
        color: rgba(0,0,0,.87);
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px rgb(34 36 38 / 22%) inset, 0 0 0 0 transparent;
}
