// .cj__documents__container {
//     // display: flex;
//     // flex-wrap: wrap;
//     // display: grid;
//     // grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
// }
.documents__breadcrumb {
    background-color: #fff;
}
.content_placer_holder {
    margin-top: 0 !important;
    width: 120px;
    height: 120px;
}
