.top__bar {
    background: #fff;
    color: #435a6f;
    border-bottom: 1px solid #e7eaec;
    padding: 10px 15px 10px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left__nav_toggle {
        font-size: 28px;
        background: #0f133f;
        color: #fff;
        border-radius: 3px;
        margin-top: 4px;
        padding: 0 2px;
        cursor: pointer;
        .left__nav_toggle_link {
            cursor: pointer;
            float: rigth;
        }
        &:hover {
            background: #313b4f;
        }
    }
    .activeOrg {
        margin: 0;
        padding-left: 10px;
        padding-top: 8px;
    }
}

.user__drop_down {
    font-size: 18px;
    font-weight: 400;
}
.user__icon {
    font-size: 20px;
    margin-right: 5px;
}

.user__top_button {
    margin-top: 12px !important;
    margin-right: 10px !important;
}

.userInfo {
    margin-top: -8px;
    background-color: rgba(67, 90, 111, 0.04);
    max-width: 240px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
}

.chanageCompanyMenu {
    color: #4f5ad0 !important;
    font-weight: 200 !important;
}

.settings__icon {
    font-size: 20px;
}

.settings__button {
    margin-right: -10px;
}
