.custom__modal__header {
    display: flex;
    justify-content: space-between;
}
.modal__header__with__tools {
    display: flex;
    justify-content: space-between;
    .__details {
        padding: 20px 0px 0px 20px;
        h3 {
            margin: 0px;
        }
    }
    .__mtools {
        flex: 0.4;
        padding-top: 10px;
        span {
            font-size: 10px;
            display: block;
            text-align: right;
            padding-right: 20px;
        }
        .__actions {
            text-align: right;
            padding-right: 18px;
            padding-top: 7px;
        }
    }
}
