.yes__no__quetion {
    .__heading {
        .__help__model {
        }
        .__help__icon {
            font-size: 18px;
            margin-left: 5px;
            cursor: pointer;
        }
    }
    .__radio__group {
        .__radio__button {
            margin-right: 20px;
        }
    }
}
