.cj__File {
    display: flex;
    align-items: flex-center;
    img {
        height: 18px;
        cursor: pointer;
    }

    .cj__file__name {
        margin-left: 5px;
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
            width: 320px;
            cursor: pointer;
        }
    }

    .cj__file__sub__menu {
        position: absolute !important;
        top: 5px;
        right: 2px;

        .file__meta {
            padding-left: 17px !important;
            padding-right: 15px !important;
        }
    }

    // .trigger {
    //     position: absolute;

    //     &.right {
    //         bottom: -12px;
    //         right: -8px;
    //     }
    //     &.left {
    //         bottom: -12px;
    //         left: 0px;
    //     }
    // }

    .create__input {
        width: 135px;
        border: 1px solid #9c9c9c;
        &.error {
            border: 1px solid red;
        }
    }
}
