.RGSubHeaderRow__body {
    display: flex;
    align-items: center;
    background-color: #8a8a8a;
    color: white;
    border-bottom: 1px solid white;
    font-size: 10px;
}
.TableCell__sub {
    padding: 4px !important;
    font-size: 10px !important;
}
