.__activities {
    .at__header {
        font-size: 14px;
        line-height: 19px;
        color: #000;
        margin-bottom: 12px;
        font-weight:700;
    }
    .at_activity {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        .at_sub {
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            flex: 0.9;

            white-space: nowrap;
            margin-right: 4px;
        }
        .at_time {
            font-style: italic;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #000000;

            text-overflow: ellipsis;
            width: 50px;
            white-space: nowrap;
            overflow: hidden;
            display: block;
        }
    }
}
