.ui.dimmer {
    background-color: rgba(14, 17, 50, 0.33) !important;
}
.semtic__modal.cccc__modal {
    background: #ffffff !important;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.11) !important;
    border-radius: 29px !important;

    .cc_modal_container {
        padding-left: 3em !important;
        padding-right: 3em !important;
        padding-bottom: 3em !important;

        .cccc__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            .__c__number {
                font-weight: 600;
                font-size: 29px;
                line-height: 43px;
                color: #000000;
            }
            .__c__close {
                svg {
                    color: #000000;
                    font-size: 21px;
                    cursor: pointer;
                }
            }
        }

        .__c__name {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            padding-top: 10px;
        }

        .__c__description {
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: rgba(0, 0, 0, 0.5);
            padding-top: 10px;
        }

        .__c__divider {
            margin-top: 20px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
        }

        .__c__tollbar {
            display: flex;
            justify-content: space-between;
            .__c__properties {
                div {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 18px;
                    color: #000000;
                    display: inline;
                }
                span {
                    opacity: 0.2;
                    border: 1px solid #000000;
                    transform: rotate(90deg);
                    width: 15px;
                    height: 0px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .__c__rightsection {
                .__theapplicability {
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 5px;

                    div:first-of-type {
                        font-size: 14px;
                        line-height: 21px;
                        color: #000000;
                        margin-right: 10px;
                    }
                    div:last-of-type {
                        .ui.toggle.checkbox input:checked ~ .box:before,
                        .ui.toggle.checkbox input:checked ~ label:before {
                            background-color: #4ac3c1 !important;
                        }
                    }
                }
                .justfication__box {
                    width: 230px !important;
                }
            }
        }

        .__c__menubar {
            background: #fafaff;
            display: flex;
            margin-top: 18px;
            justify-content: center;
            div.__cm__item {
                font-size: 16px;
                line-height: 21px;
                color: #000000;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                &.__active {
                    border-bottom: 3px solid #4f5ad1;
                }
            }
        }

        .__c__dyna__section {
            padding-top: 20px;
            &.__documents {
                .__not__found {
                    font-style: italic;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: center;
                    color: #000000;
                }
            }

            &.__assessment {
            }
            &.__assets {
                .integration__item {
                    font-size: 12px !important;
                    .content {
                        .app__des__icon {
                            cursor: pointer;
                            margin-left: 5px;
                        }
                        .app__popover {
                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            &.__issues {
            }
            &.__mapped {
            }
            &.__tasks {
            }
        }

        .__c__tags {
            margin-top: 35px;
            .__ctag {
                font-style: italic;
                font-weight: 300;
                font-size: 15px;
                line-height: 22px;
                color: #000000;
                margin-right: 12px;
            }
        }
    }
}
