/* Add New Organization Modal */
.add_new_organization_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(13, 16, 43, 0.5);
    z-index: 9;
}

.add_new_organization_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.add_new_organization_modal {
    width: 400px;
    background: #ffffff;
    padding: 20px;

    position: relative;
}

.add_new_organization_modal .close_btn button {
    position: absolute;
    color: #aeb1cf;
    top: 5px;
    right: 10px;

    background: transparent;
    outline: none;
    border: none;
}

.add_new_organization_modal .heading h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}
.add_new_organization_modal .heading p {
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    text-align: center;

    color: #000000;

    opacity: 0.5;
}

.modal_input {
    position: relative;
}

.modal_input input {
    margin: 5px 0;
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    padding-left: 20px;
    background: rgba(161, 193, 222, 0.25);
    border-radius: 7px;

    color: #141a34;
    font-weight: normal;
    font-size: 18px;
}

.modal_input {
    .ui.selection.dropdown {
        width: 100%;
        background: rgba(161, 193, 222, 0.25);
        border-radius: 7px;
        color: #141a34;
        border: none;
        outline: none;
        height: 50px;
        margin: 5px 0;
        font-weight: normal;
        font-size: 18px;
    }
}

.modal_input input:focus {
    border: 4px solid #4ac3c1;
    border-radius: 7px;
    background: transparent;
}

.modal_input .dropdown_icon {
    position: absolute;
    right: 5px;
    top: 15px;
    font-size: 30px;
    color: #141a3c;
}

.add_organization_btn {
    text-align: center;
}

.add_organization_btn button {
    width: 60%;

    background: rgba(126, 210, 185, 0.37);
    border-radius: 500px;
    height: 42px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #666669;

    padding: 0 10px;
}

.add_organization_btn button:hover {
    background: linear-gradient(317.25deg, #4ac3c1 4.59%, #a0dbb3 77.37%),
        #4ac3c1;
    color: #000;
}

.cancel_btn {
    text-align: center;
}

.cancel_btn button {
    color: #83859c;
    background: none;
    outline: none;
    border: none;
    text-decoration: underline;
}
