.org__icon {
    font-size: 120px;
    margin: 0 auto;
    padding: 20px 0px;
}
.org__row {
    padding: 20px 20px;
}

.org_ribbon {
    margin-left: 15px !important;
    width: 50%;
    margin-top: 10px !important;
}
.activity__container {
    display: flex;
    justify-content: center;
    margin: 0px;
}
