.apibuild__header {
    height: 64px;
    min-height: 64px;
    background: transparent;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 28px;
    margin: 0;
    padding: 0;

    .header__section {
        touch-action: pan-y;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        .header__tier {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 64px;

            .header__logo {
                position: relative;
                display: flex;
                align-items: center;

                .h_logo {
                    margin-left: 24px;
                    color: #5f6368;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        // width: 152px;
                        height: 32px;
                        display: inline-block;
                        height: auto;
                        max-width: 100%;
                        vertical-align: middle;
                    } 

                    .app_name{
                        margin-left: 5px;
                        font-size: 38px;
                        text-decoration: none;
                        color: #ffffff;
                        cursor: pointer;
                        font-weight: 500;
                    }
                }
            }

            .header__center {
                touch-action: auto;
                user-select: none;
                -webkit-user-drag: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                flex: 1 1 auto;
                display: flex;
                align-items: flex-start;
            }

            .header__right {
                margin-right: 12px;
            }
        }
    }
}

.ai_build_footer {
    background: #f8f9fa;
    width: 100%;
    color: #80868b;

    .ai___section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;
        margin: 0 auto;
        padding: 15px 5% 15px 5%;

        .left_section {
            display: flex;
            align-items: center;
            .footerLogo{
                width: 45px;
                margin-right: 10px;
            }
            .app_name {
                font-size: 30px;
                text-decoration: none;
                color: #424649;
                cursor: pointer;
                font-weight: 500;
                margin-right: 5px;
            }
            sub{
                font-size: 19px;
            }
        }

        .right_section {
            .footer_link {
                cursor: pointer;
                font-size: 16px;
                margin-left: 20px;
                margin-right: 20px;
                text-decoration: none;
                color: #80868b;
            }
        }
    }

    .ai_right_section {
        .section {
            font-size: 16px;
        }
    }
}

.ai__build {
    background: #fff;
    color: #000;
    padding: 20px 60px;
    min-height: calc(100vh - 174.8px); // 64 + 110.8 = 160

    .build__input {

        input,
        select,
        .MuiOutlinedInput-input {
            font-size: 18px;
        }
    }

    .build__label {
        .MuiFormControlLabel-label {
            font-size: 18px;
        }
    }

    .checkbox__selected {
        .MuiFormControlLabel-label {
            color: #1876d2
        }
    }

    .__asset__example__dd {

        .ui.label,
        .ui.active.label {
            border: 1px solid #1876d2;
            color: #1876d2;
            background-color: #fff;
            box-shadow: none;
            padding: 10px;

            &:hover {
                background-color: rgba(25, 118, 210, 0.04);
            }
        }
    }
}

.custom_btn button {
    background: #1a73e8 !important;
    border: none;
    border-radius: 4px;
    color: #ffffff !important;
    font-size: 20px;
    font-weight: 500;
    height: 42px;
    width: 50%;
}

// .css-y1kl27 {
//     flex: 0.6 1 0%;
//     background: #ffffff;
//     padding: 20px;
//     border-radius: 6px;
// }