.authonticated__header {
    height: 64px;
    min-height: 64px;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 28px;
    margin: 0;
    padding: 0;

    .header__section {
        touch-action: pan-y;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        .header__tier {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 64px;

            .header__logo {
                position: relative;
                display: flex;
                align-items: center;
                .h_logo{
                    margin-left: 24px;
                    color: #5f6368;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img {
                        // width: 176px;
                        height: 32px;
                        display: inline-block;
                        height: auto;
                        max-width: 100%;
                        vertical-align: middle;
                    } 

                    .app_name{
                        margin-left: 5px;
                        font-size: 38px;
                        text-decoration: none;
                        color: #ffffff;
                        cursor: pointer;
                        font-weight: 500;
                    }
                }
            }

            .header__center {
                touch-action: auto;
                user-select: none;
                -webkit-user-drag: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                flex: 1 1 auto;
                display: flex;
                align-items: flex-start;
            }
            .header__right{
                margin-right: 12px;
            }
        }
    }
}