.ccroot__mainbd {
    position: fixed;
    top: 50px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    z-index: 1;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 5%);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 5%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 5%);
    border: 1px solid #ddd;

    .ccroot__breadcrum {
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        width: 100%;

        ._active {
            cursor: pointer;
            color: #4f5ad1;
        }
    }

    .cc__header {
        display: flex;
        justify-content: space-between;

        .__name {
            font-weight: 300;
            font-size: 23px;
            line-height: 61px;

            color: #000000;

            ._active {
                cursor: pointer;
                color: #4f5ad1;
            }
        }

        .__actions {
            flex: 0.5;

            .ui.button {
                border-radius: 29px;
            }

            .__share {
                width: 100%;
                justify-content: right;
                display: flex;

                .__dropdown {
                    width: 200px;
                }
            }

            .__filter {
                width: 100%;
                justify-content: right;
                display: flex;

                .__dropdown {
                    width: 200px;
                }
            }
        }
    }
}

body[data-leftbar-compact-mode="fixed"]:not([data-rightbar-state="now_visible"]) {
    .ccroot__mainbd {
        width: calc(100vw - 260px);
        left: 260px;
    }
}

body[data-leftbar-compact-mode="fixed"]:not([data-rightbar-state="now_hidden"]) {
    .ccroot__mainbd {
        width: calc(100vw - $app_container_width_rhd_hidden);
        left: 260px;
    }
}

body[data-leftbar-compact-mode="condensed"]:not([data-rightbar-state="now_visible"]) {
    .ccroot__mainbd {
        width: calc(100vw - 70px);
        left: 70px;
    }
}

body[data-leftbar-compact-mode="condensed"]:not([data-rightbar-state="now_hidden"]) {
    .ccroot__mainbd {
        width: calc(100vw - 345px);
        left: 70px;
    }
}

.cs_banner {
    display: flex;
    height: 260px;

    .__pienotes {
        div {
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            margin-bottom: 7px;
        }

        .__count {
            height: 40px;
            width: 40px;
            border-radius: 100px;
            font-size: 13px;
            line-height: 28px;
            text-align: center;
            color: #ffffff;
            display: inline-block;
            padding-top: 6px;
            margin-right: 7px;
        }
    }
}

.__totaldocs {
    display: flex;
    align-items: center;
    justify-content: center;

    .__numberof_docs {
        border: 0px solid rgba(79, 90, 208, 0.2);
        box-sizing: border-box;
        // height: 175px;
        // width: 165px;
        height: 260px;
        text-align: center;
        color: #000000;
        font-size: 16px;
        line-height: 23px;
        border-radius: 100px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .__count {
            font-size: 80px;
            margin-bottom: 33px;
            font-weight: 100;
        }
    }
}

.compliance__categories {
    margin: 109px 0px 55px 0px;



    .cc_overview__panal {
        display: flex;
        justify-content: spa1ce-evenly;
        margin-top: 40px;




    }

    .categories__panal {
        margin-top: 40px;

        .cp__header__section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cp__header {
                font-weight: 500;
                font-size: 25px;
                line-height: 37px;
                color: #0e1132;
            }

            .cp__actions {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex: 0.5;

                div {
                    font-size: 17px;
                    line-height: 25px;
                    color: #000000;
                    padding-bottom: 10px;

                    &.active {
                        border-bottom: 2px solid #a0dbb3;
                    }
                }
            }

            .cp__options {
                .ui.button {
                    border-radius: 29px;

                    svg {
                        font-size: 13px;
                    }

                    &.__active {
                        background: #000000;
                        color: #fff;
                    }
                }
            }
        }

        .cp__main__section {
            margin-top: 20px;

            .cp__the__sections {
                margin-right: 30px;
                flex: 1;
            }

            display: flex;
            justify-content: space-around;
        }
    }
}

.MuiList-root.MuiMenu-list.MuiList-padding {
    .__cm__heading {
        text-align: center !important;
        font-size: 18px !important;
        padding-bottom: 10px !important;
    }
}

// compliance stack 

.__cp_stack {
    margin-top: 108px;

    .__cp_stack__container {
        .__cps_staindard__box {
            padding: 20px;
            min-height: 150px;
            border-top: 0px solid #464b87;
            background: #fff;

            .__cps_staindard__box__header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .__sd_title {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 33px;
                    color: #000000;
                    margin-bottom: 15px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .cc_overview__panal {
                display: flex;
                justify-content: space-evenly;

                .__pienotes {
                    div {
                        font-size: 12px;
                        line-height: 18px;
                        color: #000000;
                        margin-bottom: 10px;
                    }

                    .__count {
                        height: 30px;
                        width: 30px;
                        border-radius: 100px;
                        font-size: 11px;
                        line-height: 17px;
                        text-align: center;
                        color: #ffffff;
                        display: inline-block;
                        padding-top: 6px;
                    }
                }

                .__totaldocs {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .__numberof_docs {
                        border: 0px solid rgba(79, 90, 208, 0.2);
                        box-sizing: border-box;
                        height: 120px;
                        width: 160px;
                        text-align: center;
                        color: #000000;
                        font-size: 16px;
                        line-height: 18px;
                        border-radius: 100px;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }

        }
    }
}

.__TableFormattedStack {}

.__docs__buttons {
    display: flex;
    margin-bottom: 15px;
    align-items: center;

    .__c_c_button {
        background: #d9ffef;
        font-size: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        border-radius: 29px;
        padding-right: 28px;
        padding-left: 28px;
        margin-right: 20px;
    }

    .__cuttom_button {
        cursor: pointer;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #000000;

        svg {
            border: 3px solid #4ac3c1;
            box-sizing: border-box;
            border-radius: 500px;
            color: #4ac3c1;
            cursor: pointer;
            height: 30px;
            width: 30px;
            margin-right: 10px;
        }
    }
}

.n__fullyimpl {
    background: #313178;
}

.n__partimpl {
    background: #4e4e94;
}

.n__applicable {
    background: #7474b0;
}

.n__not_applicable {
    background: #cfcfe8;
}

.n__requiredatten {
    background: #a1a1ce;
}

.lan__fullyimpl {
    background: #491173;
}

.lan__partimpl {
    background: #5b2881;
}

.lan__applicable {
    background: #6d408f;
}

.lan__not_applicable {
    background: #7f589d;
}

.lan__requiredatten {
    background: #9170ab;
}
// third parties 
.third_fullyimpl {
    background: #295e4a;
}

.third_partimpl {
    background: #317158;
}

.third_applicable {
    background: #398467;
}

.third_not_applicable {
    background: #419776;
}

.third_requiredatten {
    background: #49aa85;
}
// threattrends
.threat_fullyimpl {
    background: #b9203f;
}
.threat_partimpl {
    background: #c03652;
}

.threat_applicable {
    background: #c74c65;
}

.threat_not_applicable {
    background: #ce6278;
}

.threat_requiredatten {
    background: #d5798b;
}
// orgsmodule
.orgsmodule_fullyimpl {
    background: #086278;
}
.orgsmodule_partimpl {
    background: #207185;
}

.orgsmodule_applicable {
    background: #398193;
}

.orgsmodule_not_applicable {
    background: #5291a0;
}

.orgsmodule_requiredatten {
    background: #6aa0ae;
}
.apexcharts-bar-area:hover {
    color: #fff !important;
}

.create_record_input_group{
    display: flex;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    margin: 10px 9px;
    padding: 2px 0px 10px;
}

// document 
.cj__document {
    display: flex;
    align-items: center;

    img {
        cursor: pointer;
    }

    svg {
        color: #2722a1;
        cursor: pointer;
        font-size: 35px;
    }

    .cj__document__name {
        margin-left: 15px;
        width: 320px;

        span {
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
            width: 320px;
        }
    }

    .cj__document__sub__menu {
        .document__meta {
            padding-left: 17px !important;
            padding-right: 15px !important;
        }
    }

    // .trigger {
    //     position: absolute;

    //     &.right {
    //         bottom: -12px;
    //         right: -8px;
    //     }
    //     &.left {
    //         bottom: -12px;
    //         left: 0px;
    //     }
    // }

    .create__input {
        width: 135px;
        border: 1px solid #9c9c9c;

        &.error {
            border: 1px solid red;
        }
    }
}

.table {
    tr {
        td {
            font-family: Nunito, sans-serif;
        }
    }
}