.form-error-messsage {
    text-align: left;
    color: red;
}
.form-error-messsage_custom {
    text-align: left;
    color: red;
    margin-top: 5px;
}
// .signup__button {
//     &:hover {
//         background-color: #05aad6 !important;
//         color: #fff;
//         text-shadow: none;
//     }
//     background-color: #17c6f6 !important;
// }
.fist__name__field {
    margin-right: 1.5rem;
}
