@import "varialbes";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    scrollbar-width: thin;
}

body {
    font-size: 14px;
    // background: $body-bg;
    background: #ffffff !important;
    // background-image: url(../../images/body_bg.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    background-size: cover;
    font-family: $app-font !important;
    line-height: 1.7;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #435a6f;
    font-weight: 100;
}

@import "auth";
@import 'authonticated_module';
@import 'signup';

h2 {
    font-size: 24px;
}

.main__app {
    position: relative;
    display: flex;
    flex-direction: column;

    .app__conainer {
        position: relative;
        min-height: calc(100vh - 79px);
        background: #fafcff;
    }

    .app__conainer.open_app {
        // margin: 0 0 0 220px;
        margin: 79px 0 0 220px; // TEMP for the new header
    }

    .app__conainer.close_app {
        // margin: 0 0 0 70px;
        margin: 79px 0 0 70px; // TEMP for the new header
    }

    .page__header {
        background: #fafcff;
        padding: 10px 10px 10px 15px;
        border-bottom: 1px solid #e7eaec !important;
    }

    .page__header {
        display: flex;
        justify-content: space-between;

        .heading {
            font-size: 24px;
            font-weight: 200;
            padding: 10px 0px;
        }
    }

    .primary__button {
        &:hover {
            background-color: #05aad6 !important;
            color: #fff;
            text-shadow: none;
        }

        background-color: #17c6f6 !important;
    }

    .sub__slide__menu_opened {
        // margin-left: 270px;

        .page__header {
            margin-left: -9px;

            .heading {
                margin-left: 11px;
            }
        }
    }
}

.semtic__modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;

    .semtic__modal__content {
        h3 {
            color: #fff;
        }
    }
}

.notification-container {
    *>.title {
        color: #fff;
    }
}

.cj__warning {
    background: #ffc760;
    padding: 10px;
    text-align: center;
    color: #000;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;

    .btn__close__noty {
        position: absolute;
        right: 20px;
        font-weight: 600;
        color: #000;
        cursor: pointer;
        padding: 0 6px;
    }
}

.motion__required_field {
    color: rgb(250, 46, 46);
}

.cj__custom__button {
    font-size: 15px !important;
    text-align: center !important;
    border-radius: 29px !important;
    padding-right: 28px !important;
    padding-left: 28px !important;
    margin-right: 20px !important;

    &.__cj__green {
        background: #d9ffef !important;
        color: #000000 !important;
    }

    &.__cj__red {
        background: rgb(250, 46, 46) !important;
        color: #fff !important;
    }
}

// removed box shadow from hyper theme
.btn-success {
    box-shadow: none !important
}

.chand {
    cursor: pointer;
}

.title_text_bold {
    font-weight: 600;
}

.underline_on_hover {
    &:hover {
        text-decoration: underline;

    }
}

.logo-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;

    img {
        // height: 26px !important; commeting for now with temp logo 
        height: 50px !important;
        // margin-top: 33px;
        ;
    }

    .app_name {
        margin-left: 5px;
        font-size: 25px;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: 500;
    }
}

.topnav-logo-lg {
    display: inline-block;
    padding-top: 15px;

    img {
        height: 35px;
        margin-bottom: 12px;
    }

    .app_name {
        margin-left: 5px;
        font-size: 25px;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        font-weight: 500;
    }

    .app_mode {
        margin-left: 5px;
        font-size: 20px;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        font-weight: 500;
    }
}

// The profile settings design
.myprofile__row {
    padding: 20px 20px;
    height: 100vh;
    height: 100%;

    background: #f7f8fa;
}

.change_pwd_key_icon {
    margin-bottom: 7px;
    font-size: 20px;
}

.heading-user {
    font-weight: 200;
    padding: 10px 0px;
    font-size: 20px;
}

.page__header__user {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #e7eaec !important;
}

.close__settings {
    cursor: pointer;

    margin: 17px 30px 10px auto;

    font-size: 23px;

    font-weight: 400;
}

.myprofile__row {
    div {
        margin-bottom: 20px;
    }

    .activity__container {
        display: flex;
        justify-content: center;
        margin: 0px;
    }
}

.full_screen__page__header {
    margin-top: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.__TopbarSearch {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        margin-right: 110px;
        margin-left: 30px;
    }
}

.topbar_user_menu {
    padding-top: 6px !important;
    padding-bottom: 4px !important;
}

@import 'select_org';

@import 'teams';

@import 'settings';

@import 'coporate_profile';

@import 'standards_categories';

@import 'user_section';

@import 'risk_planner';

@import 'rg_row';

// @import 'ckeditor_custom_style';

@import 'project_details';

@import 'company_profile';

@import 'marketplace';

// @import 'rete_market_place';

// @import 'grc_forms';

@import 'compliance';

@import 'task_section';

// full screen 
@import 'modify_task';

@import 'project_task';

@import 'subjects';

@import 'ai_build';

@import 'policies';

@import 'store';

@import 'packages';

// @import 'spreadsheet';

@import 'whistle_shared';

@import 'details_panel';

@import 'general_settings';

.leftbar-my-account-bottom {
    padding: 30px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: rgb(132, 144, 159);
        cursor: pointer;

        &:hover {
            color: #fff;
        }
    }

    .leftbar-my-account-bottom-name {
        font-size: 16px;
        font-weight: 500;
    }
}

.motion__recipients {
    display: flex;
    margin-bottom: 10px;

    .__recipient {
        padding: 5px 10px;
        max-width: 150px;
        background: #ccc;
        border: 1px solid #646464;
        border-radius: 14px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
            margin-left: 10px;
        }
    }
}


.a_custom_drawer {
    .dialog__header {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        display: block;
        z-index: 1;
        color: #1a1a1a !important;

        margin-bottom: 12px;

        .dialog__header__content {
            padding: 0 12px;
            display: flex;
            text-align: center;
            align-items: center;
            word-break: break-word;

            .dialog__header__close {

                position: relative;
                display: inline-block;
                height: 48px;
                min-width: 80px;
                padding: 0 16px;
                border-radius: 6px;
                background-color: #fff;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                transition: background-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
                -webkit-user-select: none;
                user-select: none;
                cursor: pointer;
                background: rgba(0, 0, 0, .05);
                border: none;
                line-height: 48px;
                color: rgba(0, 0, 0, .55);

                height: 48px;
                width: 48px;
                min-width: 48px;
                border-radius: 6px;
                font-size: 0;

                &:hover {
                    background: #e6f0ff;
                    color: rgba(0, 0, 0, .55);
                    transition-duration: 50ms;
                }
            }

            .button--tertiary {
                background: rgba(0, 0, 0, .05);
                border: none;
                line-height: 48px;
                color: rgba(0, 0, 0, .55);
            }

            .dialog__header__title {
                color: #626364 !important;
                font-family: Square Sans Display VF, Square Sans Display, Helvetica, Arial, sans-serif;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 1.3333333333;
                margin: 0;
                padding: 23px 6px;
                text-align: left;
                width: calc(100% - 96px);
            }
        }
    }
}

.form-error-message {
    color: red;
}

// New style from jason 

body[data-leftbar-theme=dark] {
    --ct-bg-leftbar: #0F487F;
    --ct-dark-menu-item: #aeaeae;
    --ct-dark-menu-item-hover: #fff;
    --ct-dark-menu-item-active: #fff;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4049b9;
    --bs-btn-border-color: #4049b9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6169d0;
    --bs-btn-hover-border-color: #5b63c4;
    --bs-btn-focus-shadow-rgb: 135, 144, 247;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5b63c4;
    --bs-btn-active-border-color: #565db8;
    --bs-btn-active-shadow: var(--ct-btn-active-box-shadow);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #727cf5;
    --bs-btn-disabled-border-color: #727cf5;
}

.side-nav .side-nav-link {
    color: var(--ct-menu-item);
    display: block;
    font-size: 1.125rem;
    list-style: none;
    padding: 5px 30px;
    position: relative;
    transition: all .4s;
}


.side-nav-forth-level li .side-nav-link,
.side-nav-forth-level li a,
.side-nav-second-level li .side-nav-link,
.side-nav-second-level li a,
.side-nav-third-level li .side-nav-link,
.side-nav-third-level li a {
    color: var(--ct-menu-item);
    display: block;
    font-size: 1rem;
    padding: 8px 30px 8px 65px;
    position: relative;
    transition: all .4s;
}


.tasks .card {
    margin-top: 0.625rem;
    white-space: normal;
}


.on_its_way {
    border-right: 7px solid #3f9d82 !important;
    ;
}

.card {
    border: none;
    box-shadow: var(--ct-card-box-shadow);
    margin-bottom: 24px;
}

.mb-0 {
    margin-bottom: 0 !important;
}


.overdue {
    border-right: 7px solid #ab0728 !important;
    ;
}

.userInitials {
    align-items: center;
    background: #656aa1;
    border-radius: 50% !important;
    color: #fff;
    display: flex;
    font-size: 14px;
    height: 30px;
    justify-content: center;
    margin-right: 15px;
    width: 30px;
}

.overdue {
    border-right: 7px solid #846da9 !important;
    ;
}

.on_track {
    border-right: 7px solid #675cc5 !important;
    ;
}

.on_its_way {
    border-right: 7px solid #7cafef !important;
    ;
}

.bg-danger {
    --bs-bg-opacity: 1;
    background-color: #960905 !important;
    ;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: #057c14 !important;
    ;
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: #eb6709 !important;
    ;
}

// 12/8/22

.tasks {
    border: 1px solid #d4cfe1 !important;
    border-radius: 0.25rem;
    display: inline-block;
    margin-bottom: 24px;
    padding: 0 0.625rem 0.625rem !important;
    vertical-align: top;
    width: 22rem;
}

.custom_btn button {
    background: #4049b9 !important;
    border: none;
    border-radius: 10px;
    color: #d0d2e1 !important;
    font-size: 20px;
    font-weight: 500;
    height: 42px;
    width: 50%;
}

.organization_page .organization_page_content {
    padding: 0 20px;
    width: 660px;
}

.p-3 {
    padding: 0.625rem !important;
}

// 12/9/2022


.tasks {
    border: 1px solid #d4cfe1 !important;
    border-radius: 0.25rem;
    display: inline-block;
    margin-bottom: 24px;
    padding: 0 0.625rem 0.625rem;
    vertical-align: top;
    width: 22rem;
}


.tasks .task-header {
    margin: 0 -1rem;
    padding: 1.125rem;
}


// 12/11/2022
.p-3 {
    padding: 1rem !important;
}


.text-muted {
    --bs-text-opacity: 1;
    color: #03283a !important;
}

.SectionTile .__maincategory.active,
.SectionTile .__maincategory:hover {
    background: #fff;
    border-top: 10px solid #464b87;
    box-shadow: 0 2px 12px rgb(0 0 0 / 11%);
}

.text-title,
.text-title:hover {
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

.badge {
    --bs-badge-padding-x: 0.4em;
    --bs-badge-padding-y: 0.3em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: var(--ct-badge-color);
    --bs-badge-border-radius: 0.25rem;
    border-radius: var(--bs-badge-border-radius);
    // color: var(--bs-badge-color);
    display: inline-block;
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1.5;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.tasks {
    /* border: 1px solid #d4cfe1!important; */
    border-radius: 0.25rem;
    display: inline-block;
    margin-bottom: 24px;
    padding: 0 0.625rem 0.625rem;
    vertical-align: top;
    width: 22rem;
}

.tasks {
    border: 1px solid #d4cfe1 !important;
    border-radius: 0.25rem;
    display: inline-block;
    margin-bottom: 24px;
    padding: 0 0.625rem 0.625rem;
    vertical-align: top;
    width: 22rem;
    background-color: #82cdfd1f;
}

// .css-2t5nby {
//     margin: 0px 5px 0px 20px;
//     font-family: Roboto, Helvetica, Arial, sans-serif;
//     font-weight: 400;
//     font-size: 1.5rem;
//     line-height: 1rem;
//     letter-spacing: 0em;
// }

// .css-vubbuv {
//     user-select: none;
//     width: 1em;
//     height: 1em;
//     display: inline-block;
//     fill: currentcolor;
//     flex-shrink: 0;
//     margin: 10px 0px 10px 0px;
//     font-size: 1.5rem;
// }

.a_custom_drawer .MuiPaper-root ._drawer_box {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 0 1px rgb(0 0 0 / 7%);
    margin: 0 10px 8px;
    max-width: none;
}

.css-p4tw8r {
    margin: 0px 0px 0.35em;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    /* letter-spacing: 0.00938em; */
    padding-left: 0px;
}


// .css-cc6pos .MuiDrawer-paper {
//     width: 350px;
// }



// .css-vah5oa {
//     height: 100vh;
//     background: rgb(255, 255, 255);
//     width: 60%;
//     position: fixed;
//     padding-top: 15px;
//     padding-left: 35px;
//     right: 350px;
// }


.document-editor__editable-container {
    /* background: var(--ck-color-base-foreground); */
    overflow-y: scroll;
    padding: calc(var(--ck-spacing-large)*2);
}


.a_custom_drawer .MuiPaper-root {
    background-color: #ffffff;
}

// .css-1ciwpa8 {
//     background-color: rgb(255, 255, 255);
//     color: rgba(0, 0, 0, 0.87);
//     transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
//     box-shadow: none;
//     overflow-y: auto;
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     flex: 1 0 auto;
//     z-index: 1200;
//     position: fixed;
//     top: 0px;
//     outline: 0px;
//     right: 0px;
//     border-left: 1px solid rgb(0 0 0 / 7%);
// }

// .css-9x00bw {
//     margin: 0px 0px 0.35em;
//     /* font-family: Arial, sans-serif; */
//     /* letter-spacing: 0.00938em; */
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 35px;
// }


// .css-ze0lb4 {
//     margin: 0px 0px 0.35em;
//     font-family: Arial, sans-serif;
//     font-weight: 400;
//     font-size: .875rem;
//     line-height: 2.66;
//     /* letter-spacing: 0.08333em; */
//     text-transform: uppercase;
//     display: block;
//     /* padding-left: 15px; */
// }



// .css-1k33q06 {
//     user-select: none;
//     width: 1em;
//     height: 1em;
//     display: inline-block;
//     fill: #8f8f8f;
//     flex-shrink: 0;
//     transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
//     font-size: 1.25rem;
// }


// .css-u9osun {
//     color: rgb(0 0 0 / 85%);
//     font-family: Arial, sans-serif;
//     font-weight: 400;
//     font-size: 1rem;
//     line-height: 1.4375em;
//     letter-spacing: 0.00938em;
//     padding: 0px;
//     display: block;
//     transform-origin: left top;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     max-width: calc(133% - 24px);
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     transform: translate(14px, -9px) scale(0.75);
//     transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
//     z-index: 1;
//     pointer-events: auto;
//     user-select: none;
// }

body[data-rightbar-state=now_visible] .custom_right_to_left_slider {
    background-color: rgb(54 120 163 / 32%);
    height: 100%;
    left: 260px;
    position: absolute;
    right: 350px;
    top: 0;
    z-index: 999;
}


.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
    border-collapse: collapse;
    color: #1a1e56;
    cursor: auto;
    float: none;
    font: normal normal normal var(--ck-font-size-base)/var(--ck-line-height-base) var(--ck-font-face);
    text-align: left;
    white-space: nowrap;
}


.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 16px/1.6 Nunito, sans-serif;
}

.standard__documents .__documents__listitem .__listitem__doc_secion .__doc_secion__name {
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}


.__organization {
    align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 10px 30px 10px 5px;
    position: relative;
}

 
.std_domain_left_nav {
    width: 320px;
    height: 100%;
    position: fixed;
    left: 70px;
    top: 131px;
    margin-bottom: 55px;
}

// .css-sxfw3f {
//     padding: 0px !important;
// }

// .css-1hw9j7s {
//     padding: 0px 16px !important;
// }