.standard__documents {
    z-index: 2;
    overflow: auto;
    .__documents__toggle{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    .__documents__heading {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .__heading_name {
            font-weight: 500;
            font-size: 18px;
            line-height: 15px;
            color: #0e1132;
        }
        .__heading__sub {
            font-size: 13px;
            line-height: 27px;
            color: #0e1132;
            font-style: italic;
            font-weight: 500;
        }
        .__documents__close {
            svg {
                cursor: pointer;
            }
        }
    }
    div:last-of-type.__documents__listitem {
        border-bottom: none;
    }
    .__documents__listitem {
        display: flex;
        align-items: center;
        padding-top: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .__listitem__doc_icon {
            margin-right: 10px;
            cursor: pointer;
        }
        .__listitem__doc_secion {
            .__doc_secion__name {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 35px;
                color: #000000;
                cursor: pointer;
            }
            .__doc_secion__number {
                font-style: italic;
                font-weight: 300;
                font-size: 11px;
                line-height: 18px;
                color: #000000;
            }
        }
    }
}
