.ControlsTable {
    margin-bottom: 14px !important;
    .MuiPaper-elevation1 {
        box-shadow: none !important;
    }
    .control__link {
        cursor: pointer;
        color: #2770ca;
    }
    .control__applicable {
        font-size: 18px !important;
        color: #06e606 !important;
    }
    .control__not__applicable {
        font-size: 18px !important;
        color: #f75252 !important;
    }
    .risk__low {
        background-color: #06e606;
        color: green !important;
        text-align: center !important;
        font-size: 14px !important;
        font-weight: 500 !important;
    }
    .risk__mid {
        background-color: #fbd1a7;
        color: #ff8000 !important;
        text-align: center !important;
        font-size: 14px !important;
        font-weight: 500 !important;
    }
    .rish__high {
        color: red;
        background-color: #f75252;
        text-align: center !important;
        font-size: 14px !important;
        font-weight: 500 !important;
    }
}
